<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>449 Project 1</title>
    <link href="static/css/styles.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <div class="container">
          <a class="navbar-brand" href="/"></a>
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
              <a class="nav-link" href="about">About</a>
              <a class="nav-link" href="public">Public</a>
              <a class="nav-link" href="protected">Protected</a>
              <a class="nav-link" href="register">Register</a>
              <a class="nav-link" href="login">Login</a>
              <a class="nav-link" href="upload">Upload</a>
            </div>
        </div>
      </nav>

    <div class="style-line"> 
    </div>


    {% block content %}

    {% endblock %}

</body>
</html>

